# Copy this file as .env, chmod 600 it and edit variables
#

NEXTCLOUD_TAG=31.0.6-apache
NEXTCLOUD_FQDN=nextcloud.domain.fr
NC_VOL=/opt/MyNextcloud
BKP_DIR=$NC_VOL/backup
MARIADB_USER=ncuser
MARIADB_PASSWORD=ncpass
MARIADB_DATABASE=nextcloud
DATABACKUP=false
DATABACKUPUSER=username
DATABACKUPNAME=Backup-MyNextcloud