# Copy this file as .env, chmod 600 it and edit variables
#

# Images version
NEXTCLOUD_TAG=31.0.7-apache
CODE_TAG=25.04.4.1.1
REDIS_TAG=8.0.2-alpine
MARIA_TAG=11.4-noble

# Differents FQDN used for Collabora Online / WOPI requests
NEXTCLOUD_FQDN=nextcloud.domain.fr
COLLABORA_FQDN=office.domain.fr
# COLLABORA_DOMAIN is used via the domain environment variable. Dot must be escaped (\\.) as it is a regular expression
COLLABORA_DOMAIN=nextcloud\\.domain\\.fr

# Traefik IP is required to force internal communication between Nextcloud and Collabora (see extra_hosts in the service definition)
#   If they communicate externally, you must instead set the public IP in Nextcloud's "Allow list for WOPI requests" settings. 
TRAEFIK_IP=192.168.2.2

# Volume
NC_VOL=/opt/MyNextcloud
BKP_DIR=$NC_VOL/backup

# Login / Password
MARIADB_USER=ncuser
MARIADB_PASSWORD=ncpass
MARIADB_DATABASE=nextcloud
COLLABORA_USERNAME=collabuser
COLLABORA_PASSWORD=collabpass

# Plakar repo name (backup)
OPTS="-mf"
REPONAME=myplakarreponame