NEXTCLOUD_FQDN=nextcloud.domain.fr
NC_VOL=/opt/MyNextcloud
BKP_DIR=$NC_VOL/backup
MARIADB_USER=ncuser
MARIADB_PASSWORD=ncpass
MARIADB_DATABASE=nextcloud
MARIADB_RANDOM_ROOT_PASSWORD=yes
MARIADB_AUTO_UPGRADE=1
MARIADB_DISABLE_UPGRADE_BACKUP=1
MYSQL_USER=${MARIADB_USER}
MYSQL_PASSWORD=${MARIADB_PASSWORD}
MYSQL_DATABASE=${MARIADB_DATABASE}